@font-face {
  font-family: BoomBox;
  src: url("../ARCENA.ttf");
}

$groen: #95CDB3;
$donkergroen: #00967B;
$yellow: #F7C000;
$red: #DE2622;
$andergroen: #7BB997;
$kakigroen: #7DAB61;
$bruin: #2B1109;
$lichtbruin: #A47551;

body{
  background: $lichtbruin;
}
#menu{
  #burger{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
    display: block;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    .stripe{
      width: 30px;
      height: 4px;
      width: 100%;
      display: block;
      position: absolute;
      background-color: white;

      -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
     -o-transition: .25s ease-in-out;
     transition: .25s ease-in-out;

     &:nth-of-type(1){
       top: 0px;
     }
     &:nth-of-type(2), &:nth-of-type(3){
       top: 8px;
     }
     &:nth-of-type(4){
       top: 16px;
     }
    }
  }
  #burger.open .stripe:nth-child(1) {
  top: 8px;
  width: 0%;
  }
  #burger.open .stripe:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #burger.open .stripe:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #burger.open .stripe:nth-child(4) {
    top: 8px;
    width: 0%;
  }
  ul{
    width: 300px;
    background: $donkergroen;
    display: block;
    position: absolute;
    right: 40px;
    top: 80px;
    -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
   opacity: 1;
    li{
      a{
        display: block;
        width: 100%;
        color: white;
        font-family: 'Cabin';
        font-size: 20px;
        padding: 5px;
        border-bottom: 1px solid white;
        text-decoration: none;
        padding: 10px;
        &:hover{
          background: $groen;
        }
      }
    }
  }
  ul.inv{
    -webkit-transform: translateY(50px);
   -moz-transform: translateY(50px);
   -o-transform: translateY(50px);
   transform: translateY(50px);
   opacity: 0;
  }
}

#first{
  background: $donkergroen;
  padding-bottom: 50px;
  padding-top: 20px;
  img{
    width: 300px;
    display: block;
    margin: auto;
  }
  ul{
    display: flex;
    width: 700px;
    margin: auto;
    a{
      justify-content: space-around;
      width: 33%;
      img{
        width: 50%;
        display: block;
        margin: auto;
        vertical-align: center;
      }
    }
  }
}

#intermezzo{
  background: $andergroen;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  p{
    font-family: "Cabin";
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    color: white;
    width: 1000px;
    font-size: 20px;
    line-height: 120%;
  }
  ul{
    width: 90%;
    margin: auto;
    display:flex;
    li{
      width: 30%;
      margin: 1.5%;
      justify-content: space-between;
      background-size: cover;
      border: 5px solid $groen;
      border-radius: 10px;
      &:nth-of-type(1){
              background-image: url('../img/bos1.jpg');
      }
      &:nth-of-type(2){
              background-image: url('../img/speelbos.jpg');
      }
      &:nth-of-type(3){
              background-image: url('../img/happy.jpeg');
      }
      &:hover{
        border: 5px solid   white;
      }
      a{
        display: block;
        height: 200px;
        text-align: center;
        line-height: 200px;
        font-family: "Boombox";
        color: white;
        text-decoration: none;
        font-size: 30px;
        i{
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}

#second{
  background: $groen;
  padding-top: 30px;
  padding-bottom: 50px;
  h1{
    font-family: "BoomBox";
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 30px;
  }
  .howto{
    width: 90%;
    display: block;
    margin: auto;
  }
  .howtoo{
    display: none;
  }
  #map {
    margin: auto;
    margin-top: 20px;
    height: 500px;
    width: 90%;
    border: 5px solid $donkergroen;
    border-radius: 10px;
    #content{
      h1{
        color: $donkergroen;
        font-size: 20px;
        padding: 0px;
      }
    }
         }
    #gform{
      width: 90%;
      margin: auto;
      overflow: auto;
      fieldset{
        width: 25%;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        label{
          color: white;
          font-family: "cabin";
          font-size: 20px;
          display: block;
          width: 90%;
          margin: auto;
        }
        input{
          font-size: 15px;
          font-family: "cabin";
          width: 90%;
          display: block;
          margin: auto;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid $donkergroen;
        }
        ::-webkit-input-placeholder {
          color: lightgrey;
        }
        ::-moz-placeholder {
          color: lightgrey;
        }
        :-ms-input-placeholder {
          color: lightgrey;
        }
        :-moz-placeholder {
          color: lightgrey;
        }
      }
      .submit{
        width: 25%;
        float: right;
        margin-bottom: 20px;
        button{
          margin-right: 5%;
          width: 200px;
          display: block;
          font-family: "BoomBox";
          color: white;
          background: $donkergroen;
          border-radius: 10px;
          border: none;
          float: right;
          padding: 5px;
          font-size: 25px;
        }
      }
    }
    #thankyou_message{
      p{
        font-family: "Cabin";
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        color: white;
        width: 700px;
        font-size: 20px;
      }
    }
  }

  #third{
    background: $donkergroen;
    padding-top: 30px;
    padding-bottom: 50px;
    h1{
      font-family: "BoomBox";
      display: block;
      text-align: center;
      margin: auto;
      padding: 20px;
      color: white;
      font-size: 30px;
    }
    p{
      font-family: "Cabin";
      display: block;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      padding-bottom: 20px;
      color: white;
      width: 700px;
      font-size: 20px;
      strong{
        background-color: white;
        color: $donkergroen;
        padding: 2px;
      }
    }
    ul{
      display: flex;
      li{
        i{
          display: block;
          margin: auto;
          font-size: 100px;
          margin-bottom: 10px;
        }
        justify-content: space-around;
        font-family: "Cabin";
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        color: white;
        width: 700px;
        font-size: 20px;
      }
    }
  }

  #Boombox{
    background: $kakigroen;
    overflow: auto;
    .img{
      width: 50%;
      float: left;
      background-image: url('../img/bos1.jpg');
      background-size: cover;
      img{
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .tekst{
      float: right;
      width: 50%;
      p{
        padding-top: 20px;
        width: 90%;
        font-family: "Cabin";
        display: block;
        text-align: justify;
        margin: auto;
        margin-bottom: 20px;
        color: white;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
  #Warmsteweek{
    background: $groen;
    overflow: auto;
    .img{
      width: 50%;
      float: right;
      background-image: url('../img/stubru.jpg');
      background-size: cover;
      img{
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .tekst{
      float: right;
      width: 50%;
      p{
        padding-top: 20px;
        width: 90%;
        font-family: "Cabin";
        display: block;
        text-align: justify;
        margin: auto;
        margin-bottom: 20px;
        color: white;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
  #bosplus{
    background: $andergroen;
    overflow: auto;
    .img{
      width: 50%;
      float: left;
      background-image: url('../img/bos2.jpeg');
      background-size: cover;
      img{
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .tekst{
      float: right;
      width: 50%;
      p{
        padding-top: 20px;
        width: 90%;
        font-family: "Cabin";
        display: block;
        text-align: justify;
        margin: auto;
        margin-bottom: 20px;
        color: white;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }

#uitleg_boombox{
  background: $groen;
  padding-top: 20px;
  padding-bottom: 20px;
    p{
      font-family: "Cabin";
      display: block;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
      color: white;
      width: 1000px;
      font-size: 20px;
      line-height: 120%;
      a{
        color: white;
      }
    }
    ul{
      font-family: 'cabin';
      text-align: center;
      color: white;
      font-size: 20px;
      width: 1000px;
      margin: auto;
      font-weight: bold;
      a{
        display: block;
        color: white;
        text-decoration: none;
        line-height: 30px;
      }
    }
    h1{
      font-family: 'Boombox';
      font-size: 30px;
      padding: 20px;
      color: white;
      text-align: center;
    }
    h2{
      color: white;
      font-family: 'cabin';
      font-size: 20px;
      width: 1000px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
    img{
      width: 300px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 5px solid $andergroen;
    }
}

#footer{
  background: $lichtbruin;
  ul{
    width: 90%;
    margin: auto;
    display:flex;
    li{
      width: 30%;
      margin: 1.5%;
      justify-content: space-between;
      background-size: cover;
      border: 5px solid SADDLEBROWN;
      border-radius: 10px;
      &:nth-of-type(1){
              background-image: url('../img/bos1.jpg');
      }
      &:nth-of-type(2){
              background-image: url('../img/speelbos.jpg');
      }
      &:nth-of-type(3){
              background-image: url('../img/happy.jpeg');
      }
      &:hover{
        border: 5px solid   white;
      }
      a{
        display: block;
        height: 200px;
        text-align: center;
        line-height: 200px;
        font-family: "Boombox";
        color: white;
        text-decoration: none;
        font-size: 30px;
        i{
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}

#sponsors{
  padding-bottom: 20px;
  h1{
    font-family: 'Boombox';
    font-size: 30px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
    margin: auto;
      a{
        display: block;
        img{
          width: 100px;
        }
        color: white;
        font-family: "cabin";
        text-decoration: none;
      }
    }
    .wider{
      a{
        img{
          width: 200px;
        }
        color: white;
        font-family: "cabin";
        text-decoration: none;
      }
    }
  }
}

#isotope{
  background: $groen;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  .button-group{
    width: 1000px;
    margin: auto;
    button{
      float: left;
      margin: 5px;
      background: $lichtbruin;
      color: white;
      padding:5px;
      border: none;
      border-radius: 5px;
      font-family: 'Boombox';
      font-size: 25px;
      border: 5px solid $lichtbruin;
      &:nth-of-type(2),&:nth-of-type(5){
        clear: both;
      }
      &:hover{
        border: 5px solid white;
        cursor: pointer;
      }
    }
  }
  .grid{
    clear: both;
    width: 1000px;
    margin:auto;
    .grid-item{
      width: 300px;
      height: 300px;
      display: block;
      border-radius: 10px;
      border:5px solid $donkergroen;
      margin: 10px;
      float: left;
      color:white;
      font-family: 'Boombox';
      font-size: 25px;
      line-height: 300px;
      text-align: center;
      text-decoration: none;
      &:hover{
        border: 5px solid white;
        cursor: pointer;
      }
      &:nth-of-type(1){
        background-image: url('../img/bos1.jpg');
      }
      &:nth-of-type(2){
        background-image: url('../img/bos2.jpeg');
      }
      &:nth-of-type(3){
        background-image: url('../img/speelbos.jpg');
      }
      &:nth-of-type(4){
        background-image: url('../img/bos3.jpeg');
      }
    }
  }
}



@media screen and (max-width: 1200px){
  #intermezzo, #footer{
    p{
      width: 700px;
    }
    ul{
      li{
        background-image: none !important;
        background: $groen;
        a{
          line-height: 30px;
          background: none;
          height: auto;
          padding: 10px;
          i{
            background: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px){
  #second{
    #gform{
      fieldset{
        width: 50%;
      }
      .one, .two{
        float: left;
      }
      .three, .four{
        float: right;
      }
    }
  }
  #uitleg_boombox{
    p{
      width: 700px;
    }
    h1{
      width: 700px;
      margin:auto;
    }
    h2{
      width: 700px;
    }
    ul{
      width: 700px;
    }
  }
  }
  @media screen and (max-width: 1000px){
    #Boombox{
              background: $donkergroen;
      .img{
        display: none;
      }
      .tekst{
        width: 90%;
        display: block;
        float: none;
        margin: auto;
      }
    }
    #Warmsteweek, #bosplus{
      .img{
        background: $groen;
        width: 100%;
        float: left;
        img{
          width: 200px;
          margin: 20px auto;
        }
      }
      .tekst{
          width: 90%;
          display: block;
          float: none;
          margin: auto;
      }
    }
    #bosplus{
      .img{
        background: $andergroen;
      }
    }
    #isotope{
      .button-group{
        width: 700px;
      }
      .grid{
        width: 700px;
      }
    }
  }
  @media screen and (max-width: 750px){
    #first{
      ul{
        width: 500px;
      }
    }
    #second{
      .howto{
        display: none;
      }
      .howtoo{
        display: block;
        width: 90%;
        margin: auto;
      }
    }
    #intermezzo, #footer{
      p{
        width: 500px;
        line-height: 30px;
      }
    }
    #third{
      p{
        width: 500px;
        line-height: 30px;
      }
      ul{
        li{
          line-height: 30px;
        }
      }
    }
    #uitleg_boombox{
      p{
        width: 90%;
        line-height: 30px;
      }
      h1{
        width: 90%;
        margin:auto;
      }
      h2{
        width: 90%;
      }
      ul{
        width: 90%;
        line-height: 30px;
      }
    }
    #isotope{
      .button-group{
        width: 90%;
      }
      .grid{
        width: 90%;
        .grid-item{
          width: 45%;
          margin: 1%;
          background: none;
          line-height: normal;
          height: 60px;
          padding-top: 30px;
          &:nth-of-type(1),&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
            background-image: none;
          }
        }
      }
    }
  }
@media screen and (max-width: 600px){
  #first{
    ul{
      width: 300px;
    }
  }
    #intermezzo, #footer{
      ul{
        width: 90%;
        margin: auto;
        display: block;
              padding-top: 20px;
              padding-bottom: 20px;
        li{
          width: 90%;
          display: block;
          margin: 1.5% auto;
        }
      }
    }
  #third{
    ul{
      display: block;
      width: 90%;
      margin: auto;
      li{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 500px){
  #intermezzo, #footer{
    p{
      text-align: justify;
      width: 90%;
    }
  }
  #second{
    #gform{
      fieldset{
        width: 100%;
      }
    }
  }
  #third{
    p{
      width: 90%;
    }
  }
}
@media screen and (max-width: 400px) {
  #menu{
    .menu{
      width: 250px;
    }
  }
  #first{
    img{
      width: 200px;
    }
  }
  #uitleg_boombox{
    img{
      width: 90%;
    }
  }
  #isotope{
    .grid{
      .grid-item{
        width: 40%;
      }
    }
  }
}
